{% extends "layout.html" %}
{% block payload %}
<h1>Contato</h1>
<p>Se você tiver alguma dúvida ou precisar de informações adicionais antes do casamento, nos contate:
	<li>Ana Luísa<br>
		<span class="glyphicon glyphicon-envelope"></span>
		<a href="mailto:loremipsum2@lorem.com">analusa.icec@gmail.com</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +55 (64) 98145-7121
	</li>
	<li>Luis Vinicius<br>
		<span class="glyphicon glyphicon-envelope"></span>
		<a href="mailto:luisviniciuscostasilva@gmail.com">luisviniciuscostasilva@gmail.com</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +55 (64) 98130-9013
	</li>

</ul>
<p>Durante a cerimônia, nossa cerimonialista será responsável por todas as informações importantes.</p>
{% endblock %}

