{% extends "layout.html" %}
{% block payload %}
<h1>Contato</h1>
<p>Se você tiver alguma dúvida ou precisar de informações adicionais antes do casamento, pode nos escrever para o e-mail 
<a href="mailto:loremipsum@lorem.com">loremipsum@lorem.com</a>.</p>
<p>Para assuntos relacionados aos presentes de casamento, entre em contato com nosso representante &ndash; pedimos que só nos procure com essas questões caso tenha certeza de que apenas nós podemos ajudar.</p>
<p>No dia do casamento, pedimos que dirija suas perguntas para nosso coordenador ou nosso representante.</p>
<ul class="list-inline">
	<li>Coordenador<br>
		<span class="glyphicon glyphicon-envelope"></span>
		<a href="mailto:loremipsum@lorem.com">loremipsum@lorem.com</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +36 30 123 4567
	</li>
	<li>Representante<br>
		<span class="glyphicon glyphicon-envelope"></span>
		<a href="mailto:loremipsum2@lorem.com">loremipsum2@lorem.com</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +36 30 765 4321
	</li>
</ul>
<p>Durante a cerimônia, nosso mestre de cerimônias será responsável por todas as informações importantes. Assim que chegar ao local, poderá obter todos os detalhes com ele.</p>
{% endblock %}

