{% extends "layout.html" %}
{% block payload %}
<h1>Recepção</h1>
<p>A recepção será realizada no Salão de festas ACIC/CDL, localizado no bairro São João, em Catalão - GO. Após a cerimônia religiosa, todos os convidados estão convidados a se dirigirem ao local para um jantar especial e momentos de confraternização.</p>
<dl class="dl-horizontal">
    <dt>Endereço</dt>
    <dd>Av. Raulina Fonseca Paschoal, 2273 - São João, Catalão - GO, 75701-482</dd>
    <dt>GPS</dt>
    <dd>-18.167512054614736, -47.93999603079352
    <small>(<a href="https://www.openstreetmap.org/?mlat=-18.167512054614736&amp;mlon=-47.93999603079352#map=17/-18.167512054614736/-47.93999603079352&amp;layers=Q">Abrir mapa ampliado</a>)</small></dd>
</dl>
<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-47.94299603079352%2C-18.169512054614736%2C-47.93699603079352%2C-18.165512054614736&amp;layer=mapquest&amp;marker=-18.167512054614736%2C-47.93999603079352" id="osmap"></iframe>
<h2>Como chegar?</h2>
<p>O salão está localizado em uma avenida central, sendo de fácil acesso. Há estacionamento disponível nas proximidades.</p>
<h3>Acesso por transporte público</h3>
<p>Recomenda-se verificar as opções locais de transporte público. O salão está bem localizado e é acessível de diferentes pontos da cidade.</p>
<h3>Mais informações</h3>
<p>Para dúvidas ou mais detalhes, entre em <a href="contato.html">contato</a> com a organização.</p>
{% endblock %}

