{% extends "layout.html" %}
{% block payload %}
<h1>Igreja</h1>
<p>A cerimônia religiosa será realizada na Igreja Lorem Ipsum, no centro de Lorem, às 14h30. Após a cerimônia, haverá uma sessão de fotos e os cumprimentos.</p>
<dl class="dl-horizontal">
    <dt>Endereço</dt>
    <dd>1234 Lorem, Praça Ipsum Dolor</dd>
    <dt>GPS</dt>
    <dd>47.123456, 19.654321
    <small>(<a href="http://www.openstreetmap.org/?mlat=47.12345&amp;mlon=19.65432#map=18/47.12345/19.65432&amp;layers=Q">Abrir mapa ampliado</a>)</small></dd>
</dl>
<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=19.63348088264465%2C47.52795298449182%2C19.63928518295288%2C47.530155813475054&amp;layer=mapquest&amp;marker=47.52905259598638%2C19.636383032798767" id="osmap"></iframe>
<h2>Como chegar?</h2>
<p>A igreja é de fácil acesso de carro, e o trajeto pode levar de 15 a 30 minutos, dependendo das condições do trânsito. O estacionamento é gratuito nas ruas ao redor, nos locais designados.</p>
<h3>Acesso por transporte público após a <a href="{{ url_for('cerimonia') }}">festa</a></h3>
<p>O local pode ser alcançado em cerca de 30 minutos pelos seguintes meios de transporte público:</p>
<ul>
    <li>Da praça Lorem Ipsum, pegue o ônibus 114 em direção a Dolor Gábor telep, Ipsum utca, por 11 paradas até a Praça Ipsum Dolor. A igreja fica a 3 minutos a pé.</li>
    <li>Da praça Lorem Ipsum, pegue o ônibus 213 em direção a XIII. utca / Dózsa György út, por 11 paradas até a Praça Ipsum Dolor. A igreja fica a 3 minutos a pé.</li>
</ul>
<h3>Acesso por transporte público de outras partes da cidade</h3>
<ul>
    <li>Ônibus 251, uma caminhada de 1 minuto a partir da parada Ipsum, Praça da Prefeitura.</li>
    <li>Ônibus 33, 58, 114, 141, 213, 214, 233, 250, uma caminhada de 3 minutos a partir da parada Praça Ipsum Dolor.</li>
    <li>Bonde 47, uma caminhada de 5 minutos a partir da parada Ipsum, Praça da Prefeitura.</li>
</ul>
{% endblock %}

