{% extends "layout.html" %}
{% block payload %}
<h1>Igreja</h1>
<p>A cerimônia religiosa será realizada na <a href="https://luzevidacatalao.com.br/">Igreja Evangélica Luz e Vida</a>, localizada no bairro Pio Gomes, em Catalão - GO. Após a cerimônia, haverá uma sessão de fotos e uma <a href="festa.html">festa</a> no <a href="https://www.aciccdl.com/site/salao-de-festas-aciccdl,NTV,MTMyOA.html">Salão de festas ACIC/CDL.</a></p>
<dl class="dl-horizontal">
    <dt>Endereço</dt>
    <dd>Rua Alaor B Costa, 2-144 - Pio Gomes, Catalão - GO, 75712-040</dd>
    <dt>GPS</dt>
    <dd>-18.1697999981711, -47.960313463240944
    <small>(<a href="https://www.openstreetmap.org/?mlat=-18.1697999981711&amp;mlon=-47.960313463240944#map=18/-18.1697999981711/-47.960313463240944&amp;layers=Q">Abrir mapa ampliado</a>)</small></dd>
</dl>
<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-47.963313463240944%2C-18.1712999981711%2C-47.957313463240944%2C-18.1682999981711&amp;layer=mapquest&amp;marker=-18.1697999981711%2C-47.960313463240944" id="osmap"></iframe>
<h2>Como chegar?</h2>
<p>A igreja é de fácil acesso de carro, e há vagas de estacionamento disponíveis nas proximidades.</p>
<p>Atualmente, não há informações sobre transporte público específico para este local. Recomenda-se verificar as opções disponíveis na região.</p>
<h3>Outras informações</h3>
<p>Entre em contato com a organização caso necessite de mais detalhes sobre o local ou o acesso.</p>
{% endblock %}

